# Usage: pip install -r requirements.txt
# API ------------------------------------------
Flask==3.0.3
Flask-Cors==4.0.1
Flask-RESTful==0.3.10
python-decouple==3.8
python-dotenv==1.0.1
# Model ----------------------------------------
numpy==1.26.4
onnxruntime==1.18.0
matplotlib==3.9.0
opencv-python==4.9.0.80
gunicorn===22.0.0